.home {
  margin-top: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5px 10px;
  position: relative;
  max-height: 91%;
}

.home .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid rgba(255, 255, 255, 0.5);
  height: 100%;
}

.home .container .left-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 30%;
  border-right: 2px solid white;
  background-color: #0a0e11;
}

.home .container .left-container .top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  padding: 5px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background: #1e1e1e;
}

.home .container .left-container .top-bar .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  place-items: center;
}

.home .container .left-container .top-bar .middle h4 {
  cursor: context-menu;
  margin: 0 5px;
}

.home .container .left-container .top-bar .new-button {
  color: rgba(255, 255, 255, 0.7);
  margin: auto 0;
}

.home .container .left-container .top-bar .new-button:hover {
  color: rgba(100, 255, 100, 0.5);
  cursor: pointer;
}

.home .container .left-container .contacts-container {
  max-height: 100%;
  overflow: auto;
}

.home .container .left-container .contacts-container::-webkit-scrollbar {
  width: 10px;
}

.home .container .left-container .contacts-container::-webkit-scrollbar-track {
  background: transparent;
  padding: 5px;
}

.home .container .left-container .contacts-container::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
}

.home .container .left-container .contacts-container::-webkit-scrollbar-thumb:hover {
  background: grey;
}

.home .container .left-container .contacts-container .contact {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.home .container .left-container .contacts-container .contact:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.home .container .left-container .contacts-container .contact .avatar {
  margin: auto 0;
}

.home .container .left-container .contacts-container .contact .info {
  padding: 5px;
  margin-left: 5px;
}

.home .container .left-container .contacts-container .contact .info h4 {
  cursor: context-menu;
}

.home .container .left-container .contacts-container .contact .info #contactId {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.home .container .left-container .new-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
}

.home .container .left-container .new-container h4 {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.85);
  margin-right: 30%;
}

.home .container .left-container .new-container #status {
  margin: 0;
  color: red;
  min-height: 25px;
}

.home .container .left-container .new-container input {
  margin: 5px;
  font-size: 1rem;
  font-weight: 400;
  padding: 5px;
  background: #3c3c3c;
  width: 70%;
  color: rgba(255, 255, 255, 0.7);
  border: 5px solid #3c3c3c;
  border-radius: 5px;
}

.home .container .left-container .new-container button {
  padding: 5px 10px;
  background: #3c3c3c;
  color: white;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 1rem;
}

.home .container .right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 70%;
}

.home .container .right-container .top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 40px;
  padding: 5px;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  place-items: center;
}

.home .container .right-container .top-bar .avatar {
  width: 30px;
  height: 30px;
}

.home .container .right-container .top-bar .info {
  margin-left: 10px;
}

.home .container .right-container .top-bar .info h4 {
  cursor: context-menu;
}

.home .container .right-container .top-bar .info h4:nth-child(1) {
  font-weight: 400;
}

.home .container .right-container .top-bar .info h4:nth-child(2) {
  font-weight: 300;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}

.home .container .right-container .top-bar .other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 5px;
  padding: 5px;
}

.home .container .right-container .top-bar .other h4 {
  font-weight: 400;
  font-size: 0.9rem;
  color: green;
}

.home .container .right-container .message-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5px;
  background-image: url("../../../assets/images/cb1.png");
  overflow-y: auto;
}

.home .container .right-container .message-container::-webkit-scrollbar {
  width: 10px;
}

.home .container .right-container .message-container::-webkit-scrollbar-track {
  padding: 5px;
}

.home .container .right-container .message-container::-webkit-scrollbar-thumb {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.home .container .right-container .message-container::-webkit-scrollbar-thumb:hover {
  background: grey;
}

.home .container .right-container .message-container .message {
  padding: 5px 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #323232;
  border-radius: 8px;
  margin: 20px 10px;
  max-width: 40%;
  word-break: break-all;
  position: relative;
}

.home .container .right-container .message-container .message h4 {
  font-weight: 400;
  width: 100%;
  white-space: pre-wrap;
}

.home .container .right-container .message-container .message #time {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: 45px;
  bottom: -20px;
  left: -8px;
  color: rgba(255, 255, 255, 0.5);
}

.home .container .right-container .message-container .sent {
  margin-left: auto;
  background-color: rgba(100, 255, 100, 0.5);
}

.home .container .right-container .send-container {
  width: 100%;
  height: 50px;
  background: #050505;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
}

.home .container .right-container .send-container textarea {
  padding: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #141414;
  border: 2px solid #141414;
  margin: 5px;
  caret-color: white;
  color: white;
  font-weight: 400;
  resize: none;
  overflow: hidden;
}
/*# sourceMappingURL=Home.css.map */